#parrafo {
    color: brown;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#otro {
    font-weight: 100;
}

/*style exclusivo para master*/

.h1 {
    color: aqua;
}